

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}


